h2 {
    text-align: center;
    margin-top: 75px;
    font-size: 23px;
    font-weight: bold;
}

.form-group {
    font-weight: bold;
    margin: auto;
    width: 50%;
    border: 3px solid darkblue;
    padding: 10px;
}

.button {
    background-color: #f1b7ff;
    font-weight: bold;
}






