body {
    padding-top: 65px;
}

.img-padding {
    padding-right: 30px;
}

.laptop-div {
    position: relative;
    width: 788px;
    height: 526px;
}

.laptop-pic {
    -webkit-filter: brightness(50%);
    position: absolute;
}

.subheading {
    font-size: 16px;
    font-style: italic;
}

.sign-up {
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 50px;
    width: 450px;
    height: auto;
    text-align: center;
}

.sign-up-form {
    text-align: left;
}

.sign-up-button {
    text-align: center;
    margin-bottom: -65px;
}

.centered {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
}